/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-y: hidden;
}

thead {
    display:table-header-group;
    width:100%;
    table-layout:fixed;
    white-space: nowrap;
}

td {
    white-space: nowrap;
}

tbody tr {
    border-bottom: 0.3em solid !important;
}

#scanner-buy-sell tr, #scanner-buy-sell-history tr {
    background-color: var(--success)
}

#scanner-red tr, #scanner-red-history tr {
    background-color: var(--danger)
}

#scanner-no-action tr, #scanner-no-action-history tr {
    background-color: var(--secondary)
}

#scanner-no-mkt-data tr, #scanner-no-mkt-data-history tr {
    background-color: var(--secondary)
}

.processed-instrument {
    background-color: var(--green) !important;
}

.white-space-nowrap {
    white-space: nowrap;
}

#connection-status, #connection-count {
    font-size: 1.5rem;
}

#connection-status.disconnected {
    color: var(--red)
}

#connection-status.connecting {
    color: var(--info)
}
#connection-status.connected, #connection-count.connected {
    color: var(--green)
}

.table-wrapper-scroll-y {
    display: block;
    max-height: calc(60vh - 60px);
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.history-table-wrapper-scroll-y {
    display: block;
    max-height: calc(80vh - 60px);
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.navbar-brand {
    margin-right: 5.4em;
}

.left-navbar {
    width: 12em;
    max-width: 12em;
}

.bd-highlight {
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.15);
}

.buttons {
    left: .1em;
    width: 99%;
}

.vh-100 {
    height:100vh!important
}

.margin-sidebar {
    margin-left: 12em;
    width: calc(100% - 12em)!important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
